<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>Bookshop</title>
  </head>
  <body>
    <header>Books</header>

    <div th:fragment="menu">
      <ul>
        <li>
          <a th:href="@{/books}">Books</a>
        </li>
        <li sec:authorize="hasRole('PUBLISHER')">
          <a th:href="@{/addbook}">Add book</a>
        </li>
        <li sec:authorize="hasRole('PUBLISHER')">
          <a th:href="@{/mybooks}">My books</a>
        </li>
        <li sec:authorize="hasRole('USER')">
          <a th:href="@{/cart}">My cart</a>
        </li>
      </ul>
      <div sec:authorize="!isAuthenticated()">
        <a th:href="@{/register}">Registration</a>
        <a th:href="@{/login}">Log in</a>
      </div>

      <div sec:authorize="isAuthenticated()">
        Hi <span sec:authentication="principal.username">username</span>!
        <form th:action="@{/logout}" method="post">
          <input type="submit" value="Logout"/>
        </form>
      </div>

    </div>

    <div>
      <table>
        <tr>
          <th>&nbsp;</th>
          <th>Title</th>
        </tr>
        <tr th:each="bookData : ${bookDatas}">
          <td><a th:href="@{|/viewbook?id=${bookData.id}|}">View</a></td>
          <td th:text="${bookData.title}"></td>
        </tr>
      </table>
    </div>

  </body>
</html>